.grid-container {
    height: 100vh;
    margin: 0em;

   
}

/* .header{
    grid-area: header;
} */
/* 
.container{
    grid-area: container;

} */

/* .footer{
    grid-area: footer;
    position:fixed;

} */