<div class="row d-flex  main">
  <div class="card">
    <h2 class="login">Log In</h2>
    <form class="formulario" (ngSubmit)="signIn()" #myForm="ngForm" autocomplete="off">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Username</label>
        <input type="text" id="form2Example1" class="form-control" 
        [ngModel]="userData.username"
        name="username"
        minlength="3"
        required/>
        <span class="form-text text-danger" 
                           *ngIf="notValidUsername()">
                          username must be greater than 3 and  required
        </span>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control"
        [ngModel]="userData.password"
        name="password"
        minlength="3" 
        required/>
        <span class="form-text text-danger" 
                           *ngIf="notValidPassword()">
                           password must be greater than 3 and required                    
        </span>
      </div>





      <!-- Submit button -->
      <button type="submit" class="btn btn-dark btn-block mb-4 boton">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Don't have a account? <a href="#" [routerLink]="['../register']"> Register here!</a></p>
      </div>
      
    </form>
  </div>
</div>