<div>
    <h2>Where are you going to stay?</h2>
    <form (ngSubmit)="save()" [formGroup]="myForm" autocomplete="off">
        <div  class="row">
            <!-- Campo de lugar de estancia -->
            <div class="col-sm-4">
                <input type="text"
                        class="form-control"
                        placeholder="Where are you going to stay?"
                        formControlName="place">
                        
                <span class="form-text text-danger" *ngIf=' myForm.get("place")?.invalid'> Debe de ser de 3 letras </span>
            </div>


            <!-- Campo de entrada de fecha -->
            <div class="col-sm-2">
                <input type="date"
                        class="form-control"
                        placeholder=" "
                        formControlName="entryDate">

                <span class="form-text text-danger" *ngIf="myForm.invalid"> 
                    La fecha de entrada no puede ser antes de la fecha actual </span>
            </div>


            <!-- Campo de salida de fecha -->
            <div class="col-sm-2">
                <input type="date"
                        class="form-control"
                        placeholder=" "
                        formControlName="exitDate">

                <span class="form-text text-danger" *ngIf=" myForm.get('exitDate')?.errors"> 
                    La fecha de salida no puede ser antes de la fecha actual </span>
            </div>

            <!-- Campo de numero de personas -->
            <div class="col-sm-3">
                <input type="number"
                        class="form-control"
                        placeholder="Amount of people "
                        formControlName="numPeople"
                        min="0">

                <span class="form-text text-danger" *ngIf=" myForm.get('numPeople')?.errors">  </span>
            </div>  


            <!-- Boton de Submit -->
            <div class="col-sm-1">
                <button type="submit"
                class="btn btn-primary float-end"
                [disabled]="myForm.invalid"
                id="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                </button>   
            </div>
            


        </div>
    </form>
</div>