#cardRoom{
    min-width: 800px; 
    min-height: 220px;
    margin-left: 200px;
    margin-top: 20px;
}

.imagen{
    padding: 10px;
    border-radius: 7%;
}

#edit{
    margin-left: 100px;
    background-color: black;
    border-color: white;
    color: white;
}

#delete{
    margin-left: 10px;
    background-color: black;
    border-color: white;
    color: white;
}